<h3><%= t('title', scope: 'devise.otp.token_secret') %></h3>

<%= otp_authenticator_token_image(resource) %>

<p>
  <strong><%= t('manual_provisioning', scope: 'devise.otp.token_secret') %>:</strong>
  <code><%= resource.otp_auth_secret %></code>
</p>

<p><%= button_to t('reset_link', scope: 'devise.otp.otp_tokens'), reset_otp_token_path_for(resource), method: :post, data: { turbo_method: :post } %></p>

<p>
  <%= t('reset_explain', scope: 'devise.otp.otp_tokens') %>
  <strong><%= t('reset_explain_warn', scope: 'devise.otp.otp_tokens') %></strong>
</p>

<%- if recovery_enabled? %>
  <h3><%= t('title', scope: 'devise.otp.otp_tokens.recovery') %></h3>
  <p><%= t('explain', scope: 'devise.otp.otp_tokens.recovery') %></p>
  <p><%= link_to t('codes_list', scope: 'devise.otp.otp_tokens.recovery'), recovery_otp_token_for(resource_name) %></p>
  <p><%= link_to t('download_codes', scope: 'devise.otp.otp_tokens.recovery'), recovery_otp_token_for(resource_name, format: :text) %></p>
<% end %>
