<h2><%= I18n.t('title', :scope => 'devise.otp.otp_tokens') %></h2>
<p><%= I18n.t('explain', :scope => 'devise.otp.otp_tokens') %></p>

<h2><%= I18n.t('title', :scope => 'devise.otp.confirm_otp_tokens') %></h2>

<p><%= I18n.t('step_1', :scope => 'devise.otp.confirm_otp_tokens') %></p>

<%= otp_authenticator_token_image(resource) %>

<p>
  <strong><%= I18n.t('manual_provisioning', :scope => 'devise.otp.token_secret') %>:</strong>
  <code><%= resource.otp_auth_secret %></code>
</p>

<p><%= I18n.t('step_2', :scope => 'devise.otp.confirm_otp_tokens') %></p>

<%= form_with(:url => [resource_name, :otp_token], :method => :put) do |f| %>

  <%= f.label :otp_token %>
  <%= f.text_field :otp_token %>

  <%= f.submit :enable %>

<% end %>
