<h2><%= I18n.t('title', :scope => 'devise.otp.otp_tokens') %></h2>

<p><strong>Status:</strong> <%= resource.otp_enabled? ? "Enabled" : "Disabled" %></p>

<%- if resource.otp_enabled? %>
  <%= render :partial => 'token_secret' if resource.otp_enabled? %>
  <%= render :partial => 'trusted_devices' if trusted_devices_enabled? %>
<% else %>
  <%= link_to "Enable Two-Factor-Authentication", edit_otp_token_path_for(resource) %>
<% end %>
