<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:alert].present? %>
    <div id="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
