<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "shared/navbar" %>

  <div id="alerts">
    <% flash.keys.each do |key| %>
      <%= content_tag :p, flash[key], id: key %>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
