<h2><%= I18n.t('title', :scope => 'devise.otp.credentials_refresh') %></h2>
<p><%= I18n.t('explain', :scope => 'devise.otp.credentials_refresh') %></p>

<%= form_for(resource, :as => resource_name, :url => [:refresh, resource_name, :otp_credential], :html => { :method => :put, "data-turbo" => false }) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <%= f.label :email %><br />
    <%= f.text_field :email, :disabled => :true%>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :refresh_password, :autocomplete => :off, :autofocus => true %>
  </div>

  <div><%= f.submit I18n.t(:go_on, :scope => 'devise.otp.credentials_refresh') %></div>
<% end %>
