<h2><%= t('title', scope: 'devise.otp.submit_token') %></h2>
<p><%= t('explain', scope: 'devise.otp.submit_token') %></p>

<%= form_for(resource, as: resource_name, url: [resource_name, :otp_credential], html: { method: :put }) do |f| %>

  <%= hidden_field_tag :challenge, @challenge %>
  <%= hidden_field_tag :recovery, @recovery %>
  <%= hidden_field_tag :remember_me, @remember_me %>

  <% if @recovery %>
    <p>
      <%= label_tag :token, t('recovery_prompt', scope: 'devise.otp.submit_token') %><br />
      <%= text_field_tag :otp_recovery_counter, resource.otp_recovery_counter, autocomplete: :off, disabled: true, size: 4 %>
    </p>
  <% else %>
    <p>
      <%= label_tag :token, t('prompt', scope: 'devise.otp.submit_token') %><br />
    </p>
  <% end %>

  <%= text_field_tag :token, nil, autocomplete: :off, autofocus: true, size: 6 %><br>

  <p><%= f.submit t('submit', scope: 'devise.otp.submit_token') %></p>

  <% if !@recovery && recovery_enabled? %>
    <p><%= link_to t('recovery_link', scope: 'devise.otp.submit_token'), otp_credential_path_for(resource_name, challenge: @challenge, recovery: true) %></p>
  <% end %>
<% end %>
