<h2><%= I18n.t('title', :scope => 'devise.otp.submit_token') %></h2>
<p><%= I18n.t('explain', :scope => 'devise.otp.submit_token') %></p>

<%= form_for(resource, :as => resource_name, :url => [resource_name, :otp_credential], :html => { :method => :put, "data-turbo" => false }) do |f| %>

  <%= hidden_field_tag :challenge, @challenge %>
  <%= hidden_field_tag :recovery, @recovery %>

  <% if @recovery %>
    <p>
      <%= label_tag :token, I18n.t('recovery_prompt', :scope => 'devise.otp.submit_token') %><br />
    </p>
  <% else %>
    <p>
      <%= label_tag :token, I18n.t('prompt', :scope => 'devise.otp.submit_token') %><br />
    </p>
  <% end %>

  <%= text_field_tag :token, nil, :autocomplete => :off, :autofocus => true, :size => 6 %><br>

  <%= label_tag :enable_persistence do %>
    <%= check_box_tag :enable_persistence, true, false %> <%= I18n.t('remember', :scope => 'devise.otp.general') %>
  <% end %>

  <p><%= f.submit I18n.t('submit', :scope => 'devise.otp.submit_token') %></p>

  <% if !@recovery && recovery_enabled? %>
    <p><%= link_to I18n.t('recovery_link', :scope => 'devise.otp.submit_token'), otp_credential_path_for(resource_name, :challenge => @challenge, :recovery => true) %></p>
  <% end %>
<% end %>
