<h2><%= I18n.t('title', {:scope => 'devise.otp.credentials_refresh'}) %></h2>
<p><%= I18n.t('explain', {:scope => 'devise.otp.credentials_refresh'}) %></p>

<%= form_for(resource, :as => resource_name, :url => [:refresh, resource_name, :otp_credential], :html => { :method => :put }) do |f| %>

  <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
    <%= f.text_field :email, :disabled => :true%></div>

    <div><%= f.label :password %><br />
	<%= f.password_field :refresh_password, :autocomplete => :off, :autofocus => true %></div>

  <%- if resource.otp_enabled? %>
    <div><%= f.label :token, I18n.t(:token, {:scope => 'devise.otp.credentials_refresh'}) %></p><br />
    <%= f.password_field :token, :autocomplete => :off%></div>
  <% end %>

	<div><%= f.submit I18n.t(:go_on, {:scope => 'devise.otp.credentials_refresh'}) %></div>
<% end %>