<h2><%= I18n.t('title', {:scope => 'devise.otp.submit_token'}) %></h2>
<p><%= I18n.t('explain', {:scope => 'devise.otp.submit_token'}) %></p>

<%= form_for(resource, :as => resource_name, :url => [resource_name, :otp_credential], :html => { :method => :put }) do |f| %>

	<%= f.hidden_field :challenge, {:value => @challenge} %>
	<%= f.hidden_field :recovery, {:value => @recovery} %>

  <%- if @recovery %>
    <p><%= f.label :token, I18n.t('recovery_prompt', {:scope => 'devise.otp.submit_token'}) %><br />
        <%= f.text_field :otp_recovery_counter, :autocomplete => :off, :disabled => true, :size => 4 %>
        <% else %>
            <p><%= f.label :token, I18n.t('prompt', {:scope => 'devise.otp.submit_token'}) %><br />
        <% end %>

        <%= f.text_field :token, :autocomplete => :off, :autofocus => true, :size => 6, :value => '' %>
    </p>

	<p><%= f.submit I18n.t('submit', {:scope => 'devise.otp.submit_token'}) %></p>
    <%- if !@recovery && recovery_enabled? %>
      <p><%= link_to I18n.t('recovery_link', {:scope => 'devise.otp.submit_token'}), otp_credential_path_for(resource_name, :challenge => @challenge, :recovery => true) %></p>
    <% end %>
 <% end %>