<h2><%= I18n.t('title', {:scope => 'devise.otp.tokens'}) %></h2>
<p><%= I18n.t('explain', {:scope => 'devise.otp.tokens'}) %></p>

<%= form_for(resource, :as => resource_name, :url => [resource_name, :otp_token], :html => { :method => :put }) do |f| %>

	<%= devise_error_messages! %>

	<h3><%= I18n.t('enable_request', {:scope => 'devise.otp.tokens'}) %></h3>

	<p><%= f.label :otp_enabled, I18n.t('status', {:scope => 'devise.otp.tokens'}) %><br />
	<%= f.check_box :otp_enabled %></p>

	<p><%= f.submit I18n.t('submit', {:scope => 'devise.otp.tokens'}) %></p>
<% end %>

<%- if resource.otp_enabled? %>
  <%= render :partial => 'token_secret' if resource.otp_enabled? %>
  <%= render :partial => 'trusted_devices' if trusted_devices_enabled? %>
<% end %>