<h3><%= I18n.t('title', {:scope => 'devise.otp.token_secret'}) %></h3>
<p><%= I18n.t('explain', {:scope => 'devise.otp.token_secret'}) %></p>
<%= otp_authenticator_token_image(resource) %>
<p><%= link_to I18n.t('reset_otp', {:scope => 'devise.otp.token_secret'}), @resource, :method => :delete %></p>
<p><%= I18n.t('reset_explain', {:scope => 'devise.otp.token_secret'}) %>
   <strong><%= I18n.t('reset_explain_warn', {:scope => 'devise.otp.token_secret'}) %></strong></p>