<h3><%= I18n.t('title', {:scope => 'devise.otp.token_secret'}) %></h3>
<p><%= I18n.t('explain', {:scope => 'devise.otp.token_secret'}) %></p>

<%= otp_authenticator_token_image(resource) %>

<p><strong><%= I18n.t('manual_provisioning', {:scope => 'devise.otp.token_secret'}) %>:</strong>
  <code><%= resource.otp_auth_secret %></code></p>

<p><%= link_to I18n.t('reset_otp', {:scope => 'devise.otp.token_secret'}), @resource, :method => :delete %></p>
<p><%= I18n.t('reset_explain', {:scope => 'devise.otp.token_secret'}) %>
   <strong><%= I18n.t('reset_explain_warn', {:scope => 'devise.otp.token_secret'}) %></strong></p>

<%- if recovery_enabled? %>
  <h3><%= I18n.t('title', {:scope => 'devise.otp.tokens.recovery'}) %></h3>
  <p><%= I18n.t('explain', {:scope => 'devise.otp.tokens.recovery'}) %></p>
  <p><%= link_to I18n.t('codes_list', {:scope => 'devise.otp.tokens.recovery'}), recovery_otp_token_for(resource_name) %></p>
  <p><%= link_to I18n.t('download_codes', {:scope => 'devise.otp.tokens.recovery'}), recovery_otp_token_for(resource_name, format: :text) %></p>

<% end %>
