<h2><%= I18n.t('title', {:scope => 'devise.otp.tokens.recovery'}) %></h2>
<p><%= I18n.t('explain', {:scope => 'devise.otp.tokens.recovery'}) %></p>

<table>
  <caption>
    <thead>
        <tr>
          <th><%= I18n.t('sequence', {:scope => 'devise.otp.tokens.recovery'}) %></th>
          <th><%= I18n.t('code', {:scope => 'devise.otp.tokens.recovery'}) %></th>
        </tr>
    </thead>
    <tbody>
    <%- resource.next_otp_recovery_tokens.each do |seq, code| %>
        <tr>
          <td><%= seq %></td>
          <td><%= code %></td>
        </tr>
    <% end %>
    </tbody>
  </caption>
</table>